/* custom CSS doc 
By Arka Ganguli */

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: local('Exo 2 Medium'), local('Exo2-Medium'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/SJSKlaAoPzG8E6EMHXZfenYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

html{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    position: relative;
    font-family: "Exo 2",Helvetica,Arial,sans-serif;
}

body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    position: relative;
    font-family: "Exo 2",Helvetica,Arial,sans-serif;
}
.navbar{
    background-color: #fff !important;
}

/**NEW STUFF**/
.row{
    margin-left:0px !important;
    margin-right: 0px !important;
}

.intro-video {
    position:relative;
    z-index: 0;
    overflow: hidden;
    margin-bottom: -5px !important;
    padding-bottom: 0px !important;
}

video{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

/*.text{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.intro-video .text {
    min-height: 600px;
    text-align: center;
}
.intro-video .text h1{
    font-weight: 500;
    font-size: 60px;
    color:#333333;
}
.intro-video .text p {
    font-weight: 500;
    font-size: 22px;
    padding-left: 5px;
    color:#333333;
}*/

.middle {
    background-color: #9E9E9E;
}

#third .container{
    background-color: #FFF;
}

#third {
    background-color: #CCC;
}
.middle .container {
    background-color: #E5E5E5;
    min-height: 300px;
    padding-bottom: 20px;
}
.bottom {
    background-color: #474747;
    text-align: center;
}
.bottom .container {
    background-color: #373737;
    min-height: 150px;
}
.bottom .container h2{
    color:#FFF;
}

.container{
    padding-right: 0px;
    padding-left: 0px;
}

.middle .container {
    font-weight:300;
}

.middle .container h2{
    text-align: center;
    font-weight: 500;
}

.middle .container h1{
    text-align: center;
    font-weight: 500;
}
.middle .container h3{
    font-size: 25px;
    text-align: center;
    font-weight: 300;
}

.middle .container p{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    color: #787878;
}

#icons{
    color:#FFF;
}

#space{
    margin-right: 10px;
    margin-left:10px;
}
.middle .fa-6{
    font-size: 20em;
}

.middle .col-md-12{
    text-align: center;
}

#logo{
    font-family: 'Black Ops One', cursive !important;
    text-shadow: 2px 2px 2px #aaa;
    font-size: 40px;
}
#menu{
    font-family: 'Raleway', cursive !important;
    font-size: 14px;
}

.banner{
    margin-top: 50px;
}
/*.middle .container .md-9-content .md-6-content{
    float:right;
}*/